# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# Virtual environment
venv/
env/

# Model & Data
*.joblib
data/*.csv
data/*.zip

!sample/sample_reviews.csv

# Streamlit
.streamlit/config.toml

# VSCode/JetBrains
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
venv/
__pycache__/
*.pyc
