# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# Virtual environment
venv/
env/

# Model & Data
*.joblib
data/*.csv
data/*.zip

# Streamlit
.streamlit/config.toml

# VSCode/JetBrains
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data & model
data/
*.joblib
*.csv

# Env
venv/
__pycache__/
*.pyc
